<!DOCTYPE html>
<html>
    <style>
        nav.a{
            color:azure;
        }
    </style>
    <head>
        <nav style="background:blue">

            <h1>{{channel}} headlines</h1>
            <a href="/?publication=bbc">BBC</a>
            <a href="/?publication=ndtv">NDV</a>
            <a href="/?publication=zee">ZEE news</a>
        
            </nav>
            <title>
                {%block title%}
                {%endblock%}
            </title>
        
    </head>
    <body>
        {%block news%}
        {%endblock%}
    </body>
</html>
